<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertor</title>
</head>
<body>
    <hr>
    <div class="content">
        <input type="number" placeholder="0" class="input-box" [(ngModel)]="ques">
    <select class="option" [(ngModel)]="input">
        <option >INR</option>
        <option >USD</option>
    </select>
    
    
        <input type="number" class="input-box" placeholder="0" [(ngModel)]="sol" >
        <select class="option" [(ngModel)]="output">
            <option >INR</option>
            <option >USD</option>
        </select>
    
    </div>
   <div class="convert-butt">
    <input type="button" value="convert" class="btn" (click)="evaluate()">
   </div>
   <hr>
    
</body>
</html>