<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="display">
          <input type="text" value="0" placeholder="0" class="field"  id="input" [(ngModel)]="in">
          <br>
          <input type="text" value="0" placeholder="0" class="field" id="output" [(ngModel)]="out">
        </div>
        <div class="buttons">
          <input type="button" value="AC" class="btn" (click)="allClear()">
          <input type="button" value="DEL" class="btn" (click)="delete()">
          <input type="button" value="%" class="btn" (click)="display('%')">
          <input type="button" value="/" class="btn" (click)="display('/')">

          <input type="button" value="7" class="btn" (click)="display('7')">
          <input type="button" value="8" class="btn" (click)="display('8')">
          <input type="button" value="9" class="btn" (click)="display('9')">
          <input type="button" value="*" class="btn" (click)="display('*')">

          <input type="button" value="4" class="btn" (click)="display('4')">
          <input type="button" value="5" class="btn" (click)="display('5')">
          <input type="button" value="6" class="btn" (click)="display('6')">
          <input type="button" value="-" class="btn" (click)="display('-')">

          <input type="button" value="1" class="btn" (click)="display('1')">
          <input type="button" value="2" class="btn" (click)="display('2')">
          <input type="button" value="3" class="btn" (click)="display('3')">
          <input type="button" value="+" class="btn" (click)="display('+')">

          <input type="button" value="." class="btn" (click)="display('.')">
          <input type="button" value="0" class="btn" (click)="display('0')">
          <input type="button" value="=" class="btn-equal" (click)="evaluate()">
          
        </div>
    </div>

</body>
</html>


